[Unit]
Description=rm camera rosbag record
After=rm_start.service
[Service]
User=dynamicx
Type=simple
ExecStart=/bin/bash -c "/home/dynamicx/camera_rosbag_record.sh"
[Install]
WantedBy=multi-user.target
