[Unit]
Description=rm ecat auto startup
After=network-online.target
[Service]
User=root
Type=simple
#Type=forking
ExecStart=/bin/bash -c "/home/dynamicx/rm_ecat_start.sh"
[Install]
WantedBy=multi-user.target
