[Unit]
Description=rm auto startup
After=network-online.target
[Service]
User=dynamicx
Type=simple
#Type=forking
ExecStart=/bin/bash -c "~/rm_start.sh"
[Install]
WantedBy=multi-user.target
