<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>
    <arg name="load_controller" default="true"/>

    <rosparam file="$(find rm_dbus)/config/dbus.yaml" command="load"/>
    <rosparam file="$(find rm_config)/config/rm_controllers/$(arg robot_type).yaml"/>

    <node name="rm_dbus" pkg="rm_dbus" type="rm_dbus" respawn="false"/>

    <include file="$(find rm_config)/launch/rm_hw.launch"/>

    <include file="$(find rm_config)/launch/vision/camera.launch">
        <arg name="enable_imu_trigger" value="true"/>
    </include>
    <include file="$(find rm_config)/launch/vision/vision_loader.launch"/>

    <include file="$(find rm_config)/launch/manual.launch"/>

    <include file="$(find rm_config)/launch/referee.launch"/>

</launch>
